{{define "title"}}Pythia{{end}}

{{define "body"}}
  <h1>Login</h1>
  {{ with .Msg }}
    <div class="alert alert-danger" role="alert">{{.}}</div> 
  {{ end }}
  <form action="/logins/create" method="POST">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
    <div class="row">
      <div class="form-group col-xs-4">
        <label for="login">Login</label>
        <input type="text" autofocus class="form-control" name="login" id="login">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-4">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" id="password">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
    <a class="btn btn-default" href="/users/">Back</a>
  </form>
{{end}}
