{{define "title"}}View Answer{{end}}

{{define "body"}}
  <div class="container">
    <h1>Viewing Answer</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Question</h3>
      </div>
      <div class="panel-body">
        {{.Question}} 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Answer</h3>
      </div>
      <div class="panel-body">
        {{.Answer}} 
      </div>
    </div>
    <p>Created At: {{.CreatedAt}}</p>
    <p>Updated At: {{.UpdatedAt}}</p>
    <p>Tags: {{.Tags}}</p>
    <p>
      <a class="btn btn-default" href="/edit/{{.FileId}}">Edit</a>
      <a class="btn btn-default" href="/">Back</a>
    </p>
  </div>
{{end}}
