{{define "title"}}Pythia{{end}}

{{define "body"}}
  <h1>Users</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Login</th>
        <th>Level</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{range .Users}}
        <tr>
          <td><a href="/users/{{.FileId}}" title="View User">{{.Name}}</a></td>
          <td><a href="/users/{{.FileId}}" title="View User">{{.Login}}</a></td>
          <td><a href="/users/{{.FileId}}" title="View User">{{.Level}}</a></td>
          <td>
            <a class="btn btn-default btn-sm" href="/users/edit/{{.FileId}}" title="Edit User">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <a class="btn btn-default btn-sm" href="/users/delete/{{.FileId}}" title="Delete User">
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
  <a class="btn btn-default" href="/users/new">New User</a>
  <a class="btn btn-default" href="/">Back</a>
{{end}}

